#!/usr/bin/make -f
%:
	dh $@ 

{% if make_commands %}
override_dh_auto_build:
{% for command in make_commands %}
	{{command}}
{% endfor %}
{% endif %}

{% if test_commands %}
override_dh_auto_test:
{% for command in test_commands %}
	{{command}}
{% endfor %}
{% endif %}
